.main__section--paragraph {
    text-align: center;
    font-size: 1.5em;
}

.main__box--buttons {
    padding: 20px;
    background-color: #ffffff00;
    box-shadow: 0px 0px 20px 2px rgb(0 255 180);
    color: white;
    font-weight: bold;
}

.main__box--buttons a{
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
    color: #00ffde;
}

.main__box--buttons a:hover {
    color: red;
}

.main__centered--content {
    padding: 140px;
    background-color: #ffffff00;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(0 255 180);
    color: #ffffff;
}

.main__box--buttons {
    display: inline-flex;
    
}

@media (max-width: 768px) {
    .main__box--buttons {
        width: 407px;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .header__main--title {
        width: auto;
    }

    .main__centered--content {
        align-items: center;
        padding: 20px;
    }

    .main__box--buttons {
        width: fit-content;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}